html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Instrument Sans', sans-serif;
}

body {
    background-color: #EBE8DB;
}

header {
    width: 100%;
    height: 268px;
    max-height: 100%;
    background: linear-gradient(#99CAF2, #EBE8DB);
}

a {
    text-decoration: none;
    color: #747474;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 45%;
    min-width: 60em;
    margin: auto;
    padding: 11em;
}

nav>a {
    text-decoration: none;
    color: #616161;
    font-size: 24px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5.6em;
    height: 33.4em;
}

.ghost-text {
    font-size: 20px;
    color: #C3C3C3;
}

.top-img {
    margin-top: 2em;
}

.top-img > img {
    opacity: 0.7;
    height: 100px;
}

.header-text {
    margin-top: 0.1em;
    font-size: 80px;
    color: #454545;
}

.hero-btns {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    width: 23%;
    justify-content: space-between;
}

.hero-btns>a {
    font-size: 24px;
    text-decoration: none;
    color: #999999;
}

.photo-row {
    width: 72.3em;
    margin: auto;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    border-left-style: solid;
    border-right-style: solid;
    color: #B8B8B8;
    border-width: 0.2px;
}


.photos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.photos>img {
    width: 24.1em;

}

.bottom-btn {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 8em;
    font-size: 24px;
}

footer {
    height: 1415px;
    background-image: url("../images/blur-background2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}

.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 11em 11.8em;
}

.footer-made {
    font-size: 40px;
    font-weight: bold;
    color: #E7CEED;
}

.footer-contact {
    font-size: 8em;
    font-weight: bold;
    text-align: right;
}

.footer-contact>:not(:first-child) {
    font-size: 0.2em;
    font-weight: normal;
    margin-top: 3em;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 54.4em;
    border-radius: 4.1em;
    height: 4.6em;
    align-items: center;
    background-color: #414141;
    margin: auto;
    margin-top: 1em;
}

.footer-nav>a {
    margin: 0em 3em;
    color: #FBFAF3;
    font-weight: bold;
    font-size: 1em;
}

.footer-copyrights {
    text-align: center;
    margin-top: 11.5em;
    color: #000000;
}