html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Instrument Sans', sans-serif;
}

body {
    background-color: #EBE8DB;
}

header {
    width: 100%;
    height: 268px;
    max-height: 100%;
    background: linear-gradient(#FFB8E0, #EBE8DB);
}

a {
    text-decoration: none;
    color: #747474;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 45%;
    min-width: 60em;
    margin: auto;
    padding: 11em;
}

nav>a {
    text-decoration: none;
    color: #616161;
    font-size: 24px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5.6em;
    height: 41.4em;
}

.ghost-text {
    font-size: 20px;
    color: #C3C3C3;
}

.top-img {
    margin-top: 2em;
}

.top-img > img {
    opacity: 0.7;
    height: 100px;
}

.header-text {
    margin-top: 0.1em;
    font-size: 80px;
    color: #454545;
}

.hero-btns {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    width: 23%;
    justify-content: space-between;
}

.hero-btns>a {
    font-size: 24px;
    text-decoration: none;
    color: #999999;
}

.card-section {
    width: 80%;
    margin: auto;
}


.cards {
    color: #999999;
    font-size: 20px;
}

.a-single-card {
    display: flex;
    align-items: center;
    padding: 1.2em 3.1em;
    border-bottom-style: solid;
    border-width: 0.2px;
}

.a-single-card>img {
    width: 133px;
    height: 133px;
    margin-right: 4.6em;
    border-radius: 10px;
}

.text-shell {
    display: flex;
    justify-content: space-between;
    width: 70em;
    overflow-wrap: break-word;
}

.name-shell {
    width: 16em;
}

.text-shell>div>.name {
    border-bottom-style: solid;
    border-width: 0.2px;
    padding-bottom: 1.5em;
    margin-top: 1.5em;
    max-width: fit-content;
    
}

.text-shell>.description {
    max-width: 55em;
    margin-right: auto;
    margin-left: 3em;
    border-bottom-style: solid;
    border-width: 0.2px;
    padding-bottom: 1.5em;
    margin-top: 1.5em;
}

.complete-btn {
    width: 13em;
    margin: 1em;
    padding: 1.4em 1.7em;
    font-size: 16px;
    border: none;
    border-radius: 0.5em;
    color: #77AC6D;
    background-color: #BEE3B5;
    
}

.card-top {
    display: flex;
    border-bottom-style: solid;
    border-width: 0.2px;
    color: #999999;
    font-size: 20px;
    padding-bottom: 1.7em;
}
.card-top-photo {
    padding-left: 3.1em;
}

.card-top-name {
    padding-left: 8.5em;
}

.card-top-description {
    padding-left: 16.3em;
}

.card-top-action {
    padding-left: 50em;
}

.a-single-card > a > img {
    height: 45px;
    opacity: 0.5;
}

.a-single-card > button {
    margin-right: 0;
}

.bottom-btn {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 8em;
    font-size: 24px;
}

footer {
    height: 1415px;
    background-image: url("../images/blur-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
}

.footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 11em 11.8em;
}

.footer-made {
    font-size: 40px;
    font-weight: bold;
    color: #E7CEED;
}

.footer-contact {
    font-size: 8em;
    font-weight: bold;
    text-align: right;
}

.footer-contact>:not(:first-child) {
    font-size: 0.2em;
    font-weight: normal;
    margin-top: 3em;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 54.4em;
    border-radius: 4.1em;
    height: 4.6em;
    align-items: center;
    background-color: #414141;
    margin: auto;
    margin-top: 1em;
}

.footer-nav>a {
    margin: 0em 3em;
    color: #FBFAF3;
    font-weight: bold;
    font-size: 1em;
}

.footer-copyrights {
    text-align: center;
    margin-top: 11.5em;
    color: #e9e9e9;
}

@media (max-width: 1920px) {

    header {
        height: 200px;
    }

    nav {
        padding: 8em 11em;
    }

    nav>a {
        font-size: 18px;
    }

    .ghost-text>p {
        font-size: 18px;
    }

    .top-img>img {
        height: 95px;
    }

    .hero-section {
        height: 520px;
    }
    
    .hero-btns {
        width: 28%;
    }

    .hero-btns>a {
        font-size: 18px;
    }

    .header-text {
        font-size: 60px;
    }

    .card-section p {
        font-size: 15px;
    }

    .a-single-card>img {
        height: 100px;
        width: 100px;
    }

    .card-top-action {
        padding-left: 420px;
    }

    .complete-btn {
        width: 220px;
        height: 56px;
        font-size: 12px;
        margin-left: 20px;
    }

    .a-single-card>img {
        margin-right: 53px;
    }

   .a-single-card>a {
        height: 22px;
    }

    .a-single-card>a>img {
        height: 22px;
    }

    .bottom-btn>a {
        font-size: 18px;
    }

    .bottom-btn {
        margin-bottom: 100px;
    }

    footer {
        height: 850px
    }

    .footer-text {
        padding: 120px 50px;
    }

    .footer-made>p {
        font-size: 30px;
    }

    .footer-contact {
        font-size: 80px;
    }

    .footer-contact>:not(:first-child) {
        font-size: 15px;
    }

    .footer-copyrights {
        font-size: 12px;
        margin-top: 45px;
    }

    .footer-nav>a {
        font-size: 12px;
    }

    .footer-nav {
        padding: 0 20px;
        width: 600px;
        height: 60px;
        }

}